* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
}

header {
    height: 50%;
    background-color: tan;
    text-align: center;
    display: flex;
    justify-content: center;
}

header img {
    border: 2px solid #08401A;
    padding: 10px;
}

nav {
    background-color: #c1b674;
    display: flex;
    position: sticky;
    top: 0;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    flex-grow: 1;
}

section {
    height: 50%;
    width: fit-content;
    background-color: aquamarine;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}